@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
*{
    margin: 0;
    padding: .0;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    z-index: -1;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    height: 100px;
    width: 100vw;
    position: fixed;
    opacity: 0.78;
    z-index: 4;
    /* display: none; */
    transition: all 0.5s;
}
#navbar:hover{
    opacity: 1;
}
#brand-name{
    padding: 20px 20px 20px 20px;
    color: #ffc107;
    font-family: 'Lato';
    letter-spacing: 3px;
    text-transform: uppercase;
}
.menu-bar{
    display: none;
}
#nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-item{
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    font-family: 'Lato',sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
}
.nav-item:last-child{
    margin-right: 20px;
}
#home-btn{
    background-color: #ffc107;
    border-radius: 3px;
}
#mobile-navbar{
    display: none;
}
#banner{
     background-image: linear-gradient(to right bottom, rgb(16,16,16,0.7)
	, rgba(8,8,8,0.7)), url(/assets/images/banner_back.jpg);
    background-position: center;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

}
.banner-text{
    margin-top: 70px;
}
#web-main{
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Courgette',cursive;
    color: white;
}
#tag-line{
    padding: 20px;
    font-family: 'Lato',sans-serif;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: white;
    font-size: 80px;
}
#explore{
    width: 140px;
    height: 60px;
    border-radius: 5px;
    background-color: #ffc107;
    color: black;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    display: inline-block;
    z-index: 2;
}
#explore::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: yellow;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px;
    display: inline-block;
    z-index: -1;
    transition: all 0.4s;
}
#explore:hover::after{
    transform: scaleX(1.5) scaleY(1.5);
    opacity: 0;
}
#about-me{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#my-text{
    text-align: center;
    margin-top: 100px;
}
#my-text-main{
    font-family: 'Lato';
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#my-text-sub{
    margin-top: 40px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Lato';
    letter-spacing: 3px;
    color: grey;
    font-weight: 400;
}
.bio-image{
    margin-top: 40px;
}
#my-image{
    align-self: center;
    height: 200px;
    width: 200px;
    border-radius: 3cm;
    margin-top: 5px;
}
.my-bio{
    margin: 70px 10vw 70px 10vw;
    font-size: 25px;
}
.progress-bars{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progress-bar{
    padding: 20px 0 20px 0;
    display: flex;
}
.prog-bar-name{
    font-style: 'Lato';
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 3px;
}
.prog-bar{
    height: 15px;
    border-radius: 5px;
    width: 50vw;
}
progress::-webkit-progress-value{
    background-color: #ffc107;
}
#skill-container{
    text-align: center;
    margin-top: 100px;
}
#skill-text{
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 40px;
    letter-spacing: 3px;
}
#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    margin: 50px 50px 0 50px;
    padding: 20px 30px 20px 30px;
    border: 0px;
}
.card-image{
    width: 100px;
    height: 100px;
    padding: 40px 40px 40px 40px;
    background-color: #ffc107;
    border-radius: 3cm;
    font-size: 70px;
}
.card-name{
    font-family: 'Lato';
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 20px 20px 20px 20px;
}
.card-text{
    font-family: 'Titillium Web';
    font-size: 17px;
}
#contacts{
    /* background-color: black; */
    background-image: linear-gradient(to right bottom, rgba(2, 1, 1, 0.7)
    , rgba(8,8,8,0.7)), url(/assets/images/contact_back.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts-text{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#contacts-text-main{
    font-family: 'Lato',sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 3px;
}
#contact-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-item{
    color: white;
    font-family: 'Lato',sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
    padding: 30px 0 30px 0;
}
#email{
    text-transform: lowercase;
}
.fab{
    color: #ffc107;
    padding: 0 20px 0 20px;
    font-size: 40px;
}
#contact-icons{
    margin-top: 40px;
    padding-bottom: 50px;
}
.section-main{
    animation: comein ease-in 1s;
}
@media screen and (max-width:361px){
    #navbar{
        opacity: 1;
    }
    #nav-list{
        display: none;
    }
    body{
        position: relative;
    }
    .menu-bar{
        display: inline-block;
        margin-right: 40px;
        color: white;
        background-color: #ffc107;
        padding: 10px 10px 10px 10px ;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.5s;
    }
    #mobile-navbar{
        display: flex;
        list-style-type: none;
        background-color: #212529;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        width: 100%;
        flex-direction: column;
        z-index: 6;
        position: fixed;
        transition: all 0.4s;
        left: 100%;
    }
    #web-main{
        font-size: 25px;
    }
    #tag-line{
        font-size: 40px;
        align-self: center;
    }
    #explore{
        width: 100px;
        height: 50px;
        font-size: 15px;
    }
    #my-text-main{
        font-size: 30px;
    }
    #my-text-sub{
        font-size: 18px;
    }
    .my-bio{
        font-size: 20px;
    }
    .progress-bar{
        flex-direction: column;
        align-items: center;
    }
    #skill-text{
        font-size:30px ;
    }
    #contacts-text-main{
        font-size: 30px;
    }
    .contact-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 10px;
    }
    #email,#num{
        font-size: 15px;
    }
    .fab{
        font-size: 10px;
        padding: 20px 10px 20px 10px;
    }
    #contact-icons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:769px){
    #navbar{
        opacity: 1;
        position: fixed;
    }
    #nav-list{
        display: none;
    }
    body{
        position: relative;
    }
    .menu-bar{
        display: inline-block;
        margin-right: 40px;
        color: white;
        background-color: #ffc107;
        padding: 10px 10px 10px 10px ;
        border-radius: 2px;
        cursor: pointer;
        transition: all 0.5s;
    }
    #mobile-navbar{
        display: flex;
        list-style-type: none;
        background-color: #212529;
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        width: 100%;
        flex-direction: column;
        z-index: 6;
        position: fixed;
        transition: all 0.4s;
        left: 100%;
    }
    /* .mobile-navbar-display{
        left: 0;
    } */
    .mobile-nav-item{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-family: 'Lato';
        padding: 20px 10px 20px 10px;
    }
    #web-main{
        font-size: 35px;
    }
    #tag-line{
        font-size: 50px;
        align-self: center;
    }
    #explore{
        width: 120px;
        height: 60px;
        font-size: 15px;
    }
    #my-text-main{
        font-size: 40px;
    }
    #my-text-sub{
        font-size: 25px;
    }
    .my-bio{
        font-size: 28px;
    }
    .progress-bar{
        flex-direction: column;
        align-items: center;
    }
    #skill-text{
        font-size:40px ;
    }
    #contacts-text-main{
        font-size: 40px;
    }
    .contact-item{
        font-size: 23px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fab{
        font-size: 30px;
    }
    #contact-icons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:860px){
    #navbar{
        opacity: 1;
    }
    .nav-item{
        font-size: 13px;
    }
}